.root {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e2e8;
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
    position: relative;
}

.note {
    background: #ebecef;
    border-radius: 12px;
    padding: 8px 12px;
    min-height: 5em;
    margin-top: -3em;
    border: none;
    outline: none;
    resize: none;
    cursor: pointer;
    z-index: 10000;
}

.note:focus, .note:active {
    outline: none;
}

.pipeline {
    min-height: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -3em;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: normal;
    max-width: 100px;
    padding-left: 10px
}

.star {
    cursor: pointer;
    color: #444;

    font-size: 30px;
    width: 30px;
    height: 30px;

    opacity: 0.9;

    margin: 20px;
}

.star:hover {
    opacity: 1;

    transform: scale(1.05);
}

.star__active {
    color: orange;
}

.star__active:hover {
}

.pipeline__canvas {
    display: flex;
    min-height: 250px!important;
    height: 250px!important;
    flex-grow: 1;
}

.tooltip {
  z-index: 2000000;
}

.ok, .zoom, .trash {
    border-radius: 12px;
    width: 40px;
    height: 40px;
    background: rgba(0,95,249,0.5);
    color: white;
    position: absolute;
    bottom: 7px;
    right: 7px;
    vertical-align: center;
    text-align: center;
    font-size: 20px;
    z-index: 10500;
    line-height: 40px;
    cursor: pointer;
}

.ok:hover, .zoom:hover, .trash:hover {
    transform: scale(1.01);
    background: rgba(0,95,249,0.55);
}

.zoom {
    top: 4px;
    right: 4px;
    font-size: 28px;
}

.trash {
    top: 46px;
    right: 4px;
    font-size: 28px;
}
